# Build outputs
dist/
node_modules/
tsconfig.tsbuildinfo

# IDE-specific files
.vscode/
.idea/

# Logs and temporary files
logs/
tmp/
*.log

# Specific to your project
postman.tar.gz

#files
files/

#env
.env